html, body {
	background-color: #f5efd2;
	/*background-color: rgb(243, 237, 210);*/
}
body {
	color: #555;
	padding-top: 72px;
	text-shadow: 1px 1px 1px #fff;
}

h1 {
	color: #333;
	font-family:"Mahalia Bold", cursive;
	font-size-adjust: .438;
	font-size: 72px;
	font-style:normal;
	font-weight:bold;
	text-shadow:
		1px 0px 0px #fff,
		2px 1px 1px #ad8559;
}
h1 span {
	font-size: .9em;
}
h2 {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	line-height: 1;
	margin-left: 42px;
	margin-top: -16px;
	opacity: .9;
}

p {
	font-size: 1.5em;
	letter-spacing: 0.02em;
	line-height: 1.5;
	margin: 2em 1em;
}

input {
  border: 1px solid #666;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
  color: #888;
  line-height: 1;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="tel"]:focus {
  border-color: #999;
	-moz-box-shadow: 0 0 5px #76c778;
	-webkit-box-shadow: 0 0 5px #76c778;
  box-shadow: 0 0 5px #76c778;
}
#email-address {
	font-size: 18px;
	padding: 12px;
	margin-left: 1em;
	width: 360px;
}
button {
	background: -moz-linear-gradient(#76c778, #59b368);
	background: -ms-linear-gradient(#76c778, #59b368);
	background: -o-linear-gradient(#76c778, #59b368);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#76c778), to(#59b368));
	background: -webkit-linear-gradient(#76c778, #59b368);
	background: linear-gradient(#76c778, #59b368);
  border: 1px solid #376757;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
  border-radius: 4px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
	margin-left: .25em;
  padding: 12px 12px 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	width: 240px;
}
button:hover {
	border: 1px solid #18533f;
	-moz-box-shadow: 0 0 5px #76c778;
	-webkit-box-shadow: 0 0 5px #76c778;
	box-shadow: 0 0 5px #76c778;
}